#app {
    background: #fff;
}

.main {
    padding-top: 73px;
}

/* Welcome start */

.description {
    padding-top: 50px;
    padding-bottom: 50px;
}

.description img {
    max-height: 320px;
}

@media(min-width: 992px) {
    .description {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.gallery {
    padding-bottom: 50px;
}

.gallery .photo-card {
    float: left;
    overflow: hidden;
    height: 250px;
    padding: 0;
    margin: 0;
    position: relative;
}

.gallery .photo-card img {
    min-width: 100%;
    min-height: 100%;
}

.gallery .photo-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.377);
    transition: 0.4s all;
    opacity: 0;
    padding: 10px;
}

.gallery .photo-card .overlay p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
}

.gallery .photo-card:hover .overlay {
    opacity: 1;
}

@media(max-width: 576px) {
    .gallery .photo-card {
        width: 100%;
    }
}

@media(min-width: 576px) {
    .gallery .photo-card {
        width: 50%;
    }
}

@media(min-width: 768px) {
    .gallery .photo-card {
        width: 33.33%;
    }
}

@media(min-width: 992px) {
    .gallery {
        padding-bottom: 100px;
    }
}

/* Welcome end */

/* About Start */

.about .header {
    width: 100%;
    background: url('../../website/images/static/bg2.jpg') center center fixed;
    background-size: cover;
    height: 250px;
    position: relative;
}

.about .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
}

.about .header h2 {
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 10px;
    margin-bottom: 0px;
    font-weight: 900;
}

.about .header h5 {
    color: #FFF;
    margin-bottom: 20px;
    margin-top: 5px;
}

.about .team-members {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .team-members .card {
    margin-bottom: 30px;
    border: 1px solid #000;
}

.about .team-members .card .card-body {
    background: #dfdfdf;
}

.about .team-members .card .card-body h5 {
    text-transform: capitalize;
    font-weight: bold;
    color: #d5009d;
}

.about .team-members .card .card-body p {
    margin-bottom: 0;
}

/* About End */

/* Services Start */

.services .header {
    width: 100%;
    background: url('../../website/images/static/bg2.jpg') center center fixed;
    background-size: cover;
    height: 250px;
    position: relative;
}

.services .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
}

.services .header h2 {
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 10px;
    margin-bottom: 0px;
    font-weight: 900;
}

.services .header h5 {
    color: #FFF;
    margin-bottom: 20px;
    margin-top: 5px;
}

.services .main-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .main-content h2 {
    text-transform: capitalize;
    font-weight: bold;
    color: #d5009d;
}

.services .main-content .card {
    overflow: hidden;
}

.services .main-content .card img {
    max-height: 330px;
}

.services .main-content .card .card-body h5 {
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
}

.services .main-content .card .card-body p {
    font-size: 15px;
    line-height: 1.8rem;
}

/* Services End */

/* Conatct Start */

.contact .header img {
    max-height: 400px;
}

.contact .main-content h1 {
    text-transform: capitalize;
    font-weight: bold;
    color: #d5009d;
}

.contact .main-content form p {
    padding-left: 3px;
    margin-bottom: 2px;
}

.contact .main-content form .form-control {
    font-size: 16px;
    min-height: 47px;
}

.contact .main-content form .form-control:focus {
    border: 1px solid #d5009d;
}

.contact .main-content form .btn {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 30px;
    background: #d5009d;
}

/* Contact End */

/* Auth Start */

.auth {
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}

.auth .card {
    border-radius: 8px;
}

.auth .card .card-header {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.auth .card .card-header h4 {
    font-weight: 900;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.auth .card .card-body {
    color: #000;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth .card .card-body .form-control {
    color: #000;
}

.auth .card .card-body .form-control:focus {
    border: 1px solid #000;
}

@media(max-width: 576px) {
    .auth .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .auth .card {
        width: 500px;
    }
}

/* Auth End */

/* Footer Start */

.footer img {
    height: 40px;
}

.footer a {
    color: #000;
    display: block;
}

/* Footer End */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}